<!DOCTYPE html>
<html ng-app>
<head>
  <title>{{greeting}} World</title>
</head>
<body>


<div>
  <p>1 + 2 = {{ 1 + 2}}</p>

  <p>My name is {{"BoJack " + "Horseman"}}</p>

  <p>The array [99,43,22] is {{[99,43,22].length}} items long.</p>


  <p>{{1000 | currency}}</p>
  <p>{{1288323623006 | date}}</p>
  <p>{{"hello, world" | uppercase}}</p>
  <p>{{"HELLO, WORLD" | lowercase}}</p>


  <p>{{3.14159265359| currency:"&euro;"  }}</p>

  <hr>

  <h1>Please say something</h1>
  <input type="text" ng-model="something">

  <p>Yelling: {{ something | uppercase }}</p>
  <p>whispering: {{something | lowercase}}</p>
  <hr>

  <p>{{3.14159265359 | number:3}}</p>
  <p>{{3.14159265359 | number:5}}</p>
  <p>{{3.14159265359 | number:7}}</p>

  <h2>How many digits of pi do you want?</h2>
    <select ng-model="digits" ng-inti="3">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
    </select>

  <h4>{{ 3.14159265359 | number: digits }}</h4>

  <ng-pluralize count="digits"
    when="{'1': 'here is the first digit of pi.',
    'other': 'here are the {} digits of pi.'}">
  </ng-pluralize>

  <hr>



</div>






<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>

</body>
</html>
