<!DOCTYPE html>
<html ng-app>
<head>
  <title>{{greeting}} World</title>
</head>
<body>

  <input type="text" ng-model="name" ng-init="name='BoJack'" placeholder="What is your name?">

  <h1>My name is: {{name}}</h1>

  <hr>

  <div>
    <select ng-model="whatever">
      <option>Dogs</option>
      <option>Cats</option>
      <option>Cats and Dogs</option>
      <option>Neither</option>
    </select>
  </div>

  <h3>I love {{ whatever }}!</h3>

<hr>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>

</body>
</html>
